.bg-login {
    background-image: url('../../public/assets/images/bg-login.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.card-login {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}