.bg-login {
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    z-index: -1;
    // width: 100vw;
}

.card-login {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}