.row-form {
    display: flex;
    justify-content: space-between;
}

.card-doc {
    position: relative;
    cursor: pointer;
    padding: 10px 5px;
    max-width: 225px;
    max-height: 270px;
    border-radius: 35px;

    img {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
    }

}

.toast {
    position: absolute;
    top: 125px;
    left: 100px;
    z-index: 1000;
}

.toast a {
    display: inline-block;
}

.toast-body {
    background-color: white;;
}

.hidden {
    display: none;
}